# Environnement virtuel
venv/
env/

# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Airflow
logs/
airflow.cfg
airflow.db
webserver_config.py

# Données
data/*.csv
data/*.json
data/*.parquet

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.pid